.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-top: none;
    position: absolute;
    width: 100%;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    top: 50px;
  }
  